node_modules/
dist/
.DS_Store
*.log

# Android build outputs
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/build/
android/app/src/main/assets/public/
android/
